<p id="notice"><%= notice %></p>

<p>
  <b>Recorded:</b>
  <%= @street_value.recorded %>
</p>

<p>
  <b>Street:</b>
  <%= @street_value.street.name %>
</p>

<p>
  <b>Dog foul:</b>
  <%= @street_value.dog_foul %>
</p>

<p>
  <b>Vandalism:</b>
  <%= @street_value.vandalism %>
</p>

<p>
  <b>Graffiti:</b>
  <%= @street_value.graffiti %>
</p>

<p>
  <b>Weeds:</b>
  <%= @street_value.weeds %>
</p>

<p>
  <b>Detritus:</b>
  <%= @street_value.detritus %>
</p>

<p>
  <b>Fly posting:</b>
  <%= @street_value.fly_posting %>
</p>

<p>
  <b>Bin count:</b>
  <%= @street_value.bin_count %>
</p>

<p>
  <b>Number overflowing:</b>
  <%= @street_value.number_overflowing %>
</p>

<p>
  <b>Smoking:</b>
  <%= @street_value.smoking %>
</p>

<p>
  <b>Drinks:</b>
  <%= @street_value.drinks %>
</p>

<p>
  <b>Confectionary:</b>
  <%= @street_value.confectionary %>
</p>

<p>
  <b>Fast food:</b>
  <%= @street_value.fast_food %>
</p>

<p>
  <b>Pedestrian individual:</b>
  <%= @street_value.pedestrian_individual %>
</p>

<p>
  <b>Business:</b>
  <%= @street_value.business %>
</p>

<p>
  <b>Domestic:</b>
  <%= @street_value.domestic %>
</p>

<p>
  <b>Construction:</b>
  <%= @street_value.construction %>
</p>

<p>
  <b>Animal faeces:</b>
  <%= @street_value.animal_faeces %>
</p>

<p>
  <b>Other:</b>
  <%= @street_value.other %>
</p>


<%= link_to 'Edit', edit_street_value_path(@street_value) %> |
<%= link_to 'Back', street_values_path %>
