<%= form_for(@pydwgn) do |f| %>
  <% if @pydwgn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pydwgn.errors.count, "error") %> prohibited this pydwgn from being saved:</h2>

      <ul>
      <% @pydwgn.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :ward %><br />
    <%= f.collection_select :ward_id, Ward.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
