<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @street.name %>
</p>

<p>
  <b>Postcode:</b>
  <%= @street.postcode %>
</p>

<p>
  <b>Latitude:</b>
  <%= @street.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @street.longitude %>
</p>

<p>
  <b>Dog foul:</b>
  <%= @street.dog_foul %>
</p>

<p>
  <b>Vandalism:</b>
  <%= @street.vandalism %>
</p>

<p>
  <b>Graffiti:</b>
  <%= @street.graffiti %>
</p>

<p>
  <b>Weeds:</b>
  <%= @street.weeds %>
</p>

<p>
  <b>Detritus:</b>
  <%= @street.detritus %>
</p>

<p>
  <b>Fly posting:</b>
  <%= @street.fly_posting %>
</p>

<p>
  <b>Bin count:</b>
  <%= @street.bin_count %>
</p>

<p>
  <b>Number overflowing:</b>
  <%= @street.number_overflowing %>
</p>

<p>
  <b>Smoking:</b>
  <%= @street.smoking %>
</p>

<p>
  <b>Drinks:</b>
  <%= @street.drinks %>
</p>

<p>
  <b>Confectionary:</b>
  <%= @street.confectionary %>
</p>

<p>
  <b>Fast food:</b>
  <%= @street.fast_food %>
</p>

<p>
  <b>Pedestrian individual:</b>
  <%= @street.pedestrian_individual %>
</p>

<p>
  <b>Business:</b>
  <%= @street.business %>
</p>

<p>
  <b>Domestic:</b>
  <%= @street.domestic %>
</p>

<p>
  <b>Construction:</b>
  <%= @street.construction %>
</p>

<p>
  <b>Animal faeces:</b>
  <%= @street.animal_faeces %>
</p>

<p>
  <b>Other:</b>
  <%= @street.other %>
</p>

<p>
  <b>Ward:</b>
  <%= @street.ward.name %>
</p>


<%= link_to 'Edit', edit_street_path(@street) %> |
<%= link_to 'Back', streets_path %>
