<%= form_for(@doodle) do |f| %>
  <% if @doodle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doodle.errors.count, "error") %> prohibited this doodle from being saved:</h2>

      <ul>
      <% @doodle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :street %><br />
    <%= f.collection_select :street_id , Street.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
