<%= javascript_include_tag 'jquery.masonry.min' %>
<%= javascript_include_tag 'jquery.imagesloaded.min' %>
<%= javascript_include_tag 'modernizr.custom.61726' %>

<h1>Feed</h1>
<%= link_to 'Upload', new_doodle_path %>

<% if @doodle.empty? %>
	<h4>No graffiti!</h4>
<% else %>
	<div id="graffiti_stream">
		<% @doodles.each do |doodle| %>
		  <%= render 'feed_item', :doodle => doodle %>
		<% end %>
	</div>
<% end %>

<script>
	$('#graffiti_stream').imagesLoaded( function(){
		$('#graffiti_stream').masonry({
		  itemSelector: '.graffiti_item',
		  columnWidth: 50,
		  gutterWidth: 2,
		  isAnimated: !Modernizr.csstransitions
		});
	});
	
	$('.graffiti_item').mouseenter(function() {
		$(this).find('.graffiti_street, .vote_buttons').fadeIn(300);
	}).mouseleave(function() {
		$(this).find('.graffiti_street, .vote_buttons').fadeOut(300);
	});
	
	function submitVote(doodle, vote) {
		$.post(
			'/votes',
			{
				'vote': {
					'doodle_id': doodle,
					'is_vandalism': vote
				}
			},
			function(msg) {
				item = $('.graffiti_item[data-id=' + doodle  + ']');
				$('#graffiti_stream').masonry( 'remove', item ).masonry('reload');
			}
		);
	}
	
	$('.vote_1 a').click(function() {
		doodle_id = $(this).attr('data-id');
		submitVote(doodle_id, 1);
	});
	
	$('.vote_0 a').click(function() {
		doodle_id = $(this).attr('data-id');
		submitVote(doodle_id, 0);
	});
</script>