<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= image_tag @doodle.image.url(:medium) %>
</p>

<p>
  <b>Street:</b>
  <%= @doodle.street.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @doodle.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @doodle.longitude %>
</p>


<%= link_to 'Edit', edit_doodle_path(@doodle) %> |
<%= link_to 'Back', doodles_path %>
