<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= image_tag @doodle.image.url(:medium) %>
</p>

<p>
  <b>Street:</b>
  <%= @doodle.street.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @doodle.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @doodle.longitude %>
</p>

<%= link_to 'Clean up', '#', :controller => :votes, :action => :create %>
<%= link_to 'Keep', '#', :controller => :votes, :action => :create %>

<%= link_to 'Back', map %>
