<p id="notice"><%= notice %></p>

<p>
  <b>Isvandilism:</b>
  <%= @vote.isVandilism %>
</p>

<p>
  <b>Graffiti:</b>
  <%= @vote.graffiti %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
