<p id="notice"><%= notice %></p>

<p>
  <b>Is vandalism:</b>
  <%= @vote.is_vandalism %>
</p>

<p>
  <b>Doodle:</b>
  <%= @vote.doodle.id %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
